Source: vanilla-control-center
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends:
            itstool,
            build-essential,
            debhelper,
            python3,
            meson,
            libadwaita-1-dev,
            gettext,
            make,
            desktop-file-utils,
            libjpeg-dev
Homepage: https://github.com/Vanilla-OS/vanilla-control-center/
Vcs-Browser: https://github.com/Vanilla-OS/vanilla-control-center
Vcs-Git: https://github.com/Vanilla-OS/vanilla-control-center.git
Rules-Requires-Root: no

Package: vanilla-control-center
Architecture: any
Depends: python3,
         python3-gi,
         libadwaita-1-0,
         gir1.2-gtk-4.0,
         gir1.2-adw-1,
         apx,
         vanilla-system-operator
Description: This utility allows you to manage Vanilla OS components.
